{% extends 'base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our dealerships</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
<h1></br>Our dealerships</h3>
<div>
    <table class="table" id="table" data-filter-control="true" style="table-layout:fixed;">
        <thead>
            <tr>
                <th data-field="id">ID</th>
                <th data-field="dealerName">Dealer Name</th>
                <th data-field="city">City</th>
                <th data-field="address">Address</th>
                <th data-field="zip">Zip</th>
                <th data-field="state" data-filter-control="select">State</th>
    
            </tr>
        </thead>
        <tbody>
            {% for dealer in dealership_list %}
                <tr>
                    <td>{{dealer.id}}</td>
                    <td><a href="{% url 'djangoapp:dealer_details' dealer.id %}">{{dealer.full_name}}</a></td>
                    <td>{{ dealer.city }}</td>
                    <td>{{ dealer.address }}</td>
                    <td>{{ dealer.zip }}</td>
                    <td>{{ dealer.st }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>    



    </body>
    <script>
        $(function() {
          $('#table').bootstrapTable()
        })
      </script>
</html>

{% endblock %}